$colorNeutralColor01: #ffffff;    
$colorColorGlobalNeutral1: #ffffff;    
$colorColorGlobalNeutral2: #f4f4f4;    
$colorColorGlobalNeutral3: #e4e4e4;    
$colorColorGlobalNeutral4: #b8b8b8;    
$colorColorGlobalNeutral5: #6f6f6f;    
$colorColorGlobalNeutral6: #5e5e5e;    
$colorColorGlobalNeutral7: #474747;    
$colorColorGlobalNeutral8: #303030;    
$colorColorGlobalNeutral9: #181818;    
$colorColorGlobalNeutral10: #000000;    
$colorColorFeedbackFeedback1: #228934;    
$colorColorFeedbackFeedback2: #11441a;    
$colorColorFeedbackFeedback3: #bddcc2;    
$colorColorFeedbackFeedback4: #de301f;    
$colorColorFeedbackFeedback5: #6f180f;    
$colorColorFeedbackFeedback6: #f6c1bc;    
$colorColorFeedbackFeedback7: #850541;    
$colorColorFeedbackFeedback8: #40032c;    
$colorColorFeedbackFeedback9: #60042a;    
$colorColorBrandBtp01: #ff5000;    
$colorColorBrandBtp02: #993000;    
$colorColorBrandBtpBrandColor03: #cc4000;    
$colorColorBrandCns01: #73a329;    
$colorColorBrandCns02: #265200;    
$colorColorBrandCnsBrandColor03: #368a44;    
$colorColorBrandCc01: #8600a7;    
$colorColorBrandCc02: #3e0052;    
$colorColorBrandCc03: #5a0080;    
$colorGlobalBgBgNeutral1: $colorColorGlobalNeutral1;    
$colorGlobalBgBgNeutral2: $colorColorGlobalNeutral2;    
$colorBrandBgBgBrand1: $colorColorBrandBtp01;    
$colorBrandBgBgBrand2: $colorColorBrandBtp02;    
$colorGlobalBorderBorderNeutral1: $colorColorGlobalNeutral3;    
$colorBrandBorderBorder1: $colorColorBrandBtp01;    
$colorGlobalTitleTitleTextColor: $colorColorGlobalNeutral9;    
$colorBrandTitleTitleTextBrand: $colorColorBrandBtp01;    
$colorButtonButtonBgPrimary: $colorColorBrandBtp01;    
$colorCardCarBgPrimary: $colorColorBrandBtp01;    
