$measureDimensionBorderWidthOlBorderWidth0: 0px;    
$measureDimensionBorderWidthOlBorderWidth1: 1px;    
$measureDimensionBorderWidthOlBorderWidth3: 2px;    
$measureDimensionBorderWidthOlBorderWidth4: 3px;    
$measureDimensionBorderWidthOlBorderWidth5: 4px;    
$measureDimensionBorderRadiusOlBorderRadius0: 0px;    
$measureDimensionBorderRadiusOlBorderRadius1: 2px;    
$measureDimensionBorderRadiusOlBorderRadius2: 4px;    
$measureDimensionBorderRadiusOlBorderRadius3: 8px;    
$measureDimensionBorderRadiusOlBorderRadius4: 24px;    
$measureDimensionGlobalTitleFontSize001: 0px;    
$measureDimensionGlobalBorderBorderRadius0: $measureDimensionBorderRadiusOlBorderRadius0;    
$measureDimensionButtonButtonBorder: $measureDimensionBorderWidthOlBorderWidth4;    
$measureDimensionCardCardBorder: $measureDimensionBorderWidthOlBorderWidth4;    
